* {
	box-sizing: border-box;
}

body {
	display: flex;
	height: 100vh;
	width: 100%;
  margin: 0;
	padding: 0;
  background-image:
  linear-gradient(to bottom, #009688 0px, #009688 15vh, #dddbd1 15vh, #d2dbdc 100%);
  font-family: 'Lato', sans-serif;
}

.contenitore {
	margin: auto;
	width: 80%;
	min-width: 900px;
	height: 95%;
}

/*Parte sinistra*/

.sx {
  float: left;
	height: 100%;
  width: 35%;
  border-right: 1px solid #D6D6D6;
}

/* Parte sinistra top*/

.sx-top, .dx-top {
  width: 100%;
	height: 70px;
	background: #EAEAEA;
  display: flex;
  justify-content:space-between;
}

.avatar img {
  width: 50px;
	height: 50px;
	margin: 10px 15px 10px 10px;
	border-radius: 100%;
  cursor: pointer;
}

.icone i {
	margin: auto 10px;
	color: rgb(177, 177, 177);
	font-size: 22px;
  cursor: pointer;
}

.avatar {
  float: left;
  height: 100%;
}

.icone {
  display: flex;
  width: 40%;
  height: 100%;
  float: right;
}

/* Parte sinistra notifiche*/

.sx-notifiche {
	display: flex;
	width: 100%;
	height: 80px;
	background: #8EDAFC;
}

.sx-notifiche .logo {
  width: 50px;
  margin: auto 0 auto 20px;
  background: #F2FBFF;
  border-radius: 100%;
  text-align: center;
  color: #8EDAFC;
  line-height: 50px;
  font-size: 20px;
}

.sx-notifiche .testo {
	width: calc(100% - 50px);
	margin: auto;
	padding: 0 10px;
}

.sx-notifiche .testo h3{
  margin: 0;
	font-size: 16px;
	font-weight: normal;
}

.sx-notifiche .testo a {
  color: #4F7485;
	font-size: 13.5px;
}

/* Parte sinistra ricerca*/

.sx-ricerca {
  width: 100%;
  height: 50px;
  background: #FAFAFA;
}

.sx-ricerca label {
  display: inline-block;
  width: calc(15% - 7px);
  height: 36px;
  margin: 7px 0 7px 7px;
  border-top: 1px solid #F5F5F5;
  border-right: 0;
  border-bottom: 1px solid #F5F5F5;
  border-left: 1px solid #F5F5F5;
  background: #fff;
  line-height: 36px;
  text-align: center;
  color: #B6B9BB;
}

.sx-ricerca input{
  float: right;
	width: calc(85% - 7px);
	height: 36px;
	margin: 7px 7px 7px 0;
	padding: 0 10px;
	border-left: 0;
	border-top: 1px solid #F5F5F5;
	border-right: 1px solid #F5F5F5;
	border-bottom: 1px solid #F5F5F5;
	border-radius: 0px 3px 3px 0;
	color: #B6B9BB;
}

/*Parte sinistra contatti*/

.contatti {
	width: 100%;
	height: calc(100% - 70px - 50px - 80px);
	background: #fff;
	overflow-y: scroll;
}

.conversazione {
  display: flex;
	cursor: pointer;
	width: 100%;
	height: 80px;
	border-bottom: 1px solid #F5F5F5;
}

.conversazione:hover {
	background: #f4f5f5;
}

.contatti-avatar {
  width: 60px;
	height: 60px;
	margin: auto 20px;
	border-radius: 100%;
	overflow: hidden;
}

.contatti-avatar img {
  width: 100%;
  height: 100%;
}

.contatti-info{
  width: calc(100% - 100px);
	height: 60px;
	margin: auto 10px auto 0;
	line-height: 5px;
}

.contatti-info h3{
  font-size: 17px;
	font-weight: normal;
}

.contatti-info h2{
  font-size: 13px;
	font-weight: normal;
  color: #B6B9BB;
}

.ora{
  color: #B6B9BB;
  font-size: 12px;
  font-weight: lighter;
  float: right;
}

/*Parte destra*/

.dx {
  float: left;
	height: 100%;
  width: 65%;
  position: relative;
}

.dx-top {
  width: 100%;
	height: 70px;
	background: #EAEAEA;
}

.dx-top .icone {
  float: right;
  width: auto;
  margin-right: 15px;
  text-align: right;
}

/*Parte destra contenitore messaggi*/

.dx-messaggi-contenitore {
	width: 100%;
	height: calc(100% - 70px - 70px);
}
.dx-conversazione {
	height: 100%;
	width: 100%;
	padding: 5% 10%;
	background-image: url('img/sfondo.jpg');
	overflow-y: scroll;
	display: none;
}

.dx-conversazione.active {
	display: block;
}

.messaggio {
  position: relative;
	margin: 5px 0;
	padding: 0 15px;
	min-width: 20%;
	max-width: 60%;
	background: #fff;
	border-radius: 10px;
	font-size: 15px;
}

.messaggio h3 {
  font-size: 15px;
	font-weight: normal;
  margin-bottom: 0;
}

.messaggio.ricevuto {
  background: white;
  float: left;
  clear: both;
}

.messaggio .ora {
  margin-top: 2px;
  font-size: 10px;
}

.messaggio .ora h2 {
  font-size: 10px;
}

.messaggio.inviato {
  background: #D5F9BA;
  float: right;
  clear: both;
}

.messaggio i {
	float: right;
	display: none;
	color: #B6B9BB;
	cursor: pointer;
}

.messaggio:hover .msg-tendina{
	display: block;
}


.msg-opzione {
	display: none;
	position: absolute;
	bottom: -75px;
	width: 150px;
	height: 80px;
	background: white;
	box-shadow: 0px 0px 40px -15px rgba(0,0,0,0.75);
	right: 0;
	left: 0;
}

.msg-opzione.active {
	display: block;
}

.msg-opzione.active > div {
	cursor: pointer;
	width: 100%;
	height: 50%;
	line-height: 40px;
	font-size: 14px;
	text-align: center;
}

.msg-opzione > div:hover {
	color: #B6B9BB;
}

/*Footer*/

.dx-footer {
  background-color: #F3EEEA;
	width: 100%;
	height: 70px;
  display: flex;
  justify-content:space-between;
}

.dx-footer input {
	width: 80%;
	height: 50px;
	margin: 10px 0;
	padding: 15px;
	border: 0;
	border-radius: 5px;
	font-size: 14px;
	font-weight: lighter;
}

.icona-sx, .icona-dx {
	width: 10%;
	height: 100%;
	line-height: 70px;
	text-align: center;
	font-size: 25px;
	color: #6B7376;
}
