* {
	box-sizing: border-box;
}

body {
	display: flex;
	height: 100vh;
	width: 100%;
  margin: 0;
	padding: 0;
  background-image:
  linear-gradient(to bottom, #009688 0px, #009688 15vh, #dddbd1 15vh, #d2dbdc 100%);
  font-family: 'Lato', sans-serif;
}

.contenitore {
	margin: auto;
	width: 80%;
	min-width: 900px;
	height: 95%;
  background-color: red;
}

/*Parte sinistra*/

.sx {
  float: left;
	height: 100%;
  width: 35%;
  border-right: 1px solid #D6D6D6;
  background: green;
}

/* Parte sinistra top*/

.sx-top {
  width: 100%;
	height: 70px;
	background: #EAEAEA;
  display: flex;
  justify-content:space-between;
}

.avatar img {
  width: 50px;
	height: 50px;
	margin: 10px 0 auto 10px;
	border-radius: 100%;
  cursor: pointer;
}

.icone i {
	margin: auto 10px;
	color: rgb(177, 177, 177);
	font-size: 22px;
  cursor: pointer;
}

.avatar {
  float: left;
  height: 100%;
}

.icone {
  display: flex;
  width: 40%;
  height: 100%;
  float: right;
}

/* Parte sinistra notifiche*/

.sx-notifiche {
	display: flex;
	width: 100%;
	height: 80px;
	background: #8EDAFC;
}

.sx-notifiche .logo {
  width: 50px;
  margin: auto 0 auto 20px;
  background: #F2FBFF;
  border-radius: 100%;
  text-align: center;
  color: #8EDAFC;
  line-height: 50px;
  font-size: 20px;
}

.sx-notifiche .testo {
	width: calc(100% - 50px);
	margin: auto;
	padding: 0 10px;
}

.sx-notifiche .testo h3{
  margin: 0;
	font-size: 16px;
	font-weight: normal;
}

.sx-notifiche .testo a {
  color: #4F7485;
	font-size: 13.5px;
}

/* Parte sinistra ricerca*/

.sx-ricerca {
  width: 100%;
  height: 50px;
  background: #FAFAFA;
}

.sx-ricerca label {
  display: inline-block;
  width: calc(15% - 7px);
  height: 36px;
  margin: 7px 0 7px 7px;
  border-top: 1px solid #F5F5F5;
  border-right: 0;
  border-bottom: 1px solid #F5F5F5;
  border-left: 1px solid #F5F5F5;
  background: #fff;
  line-height: 36px;
  text-align: center;
  color: #B6B9BB;
}

.sx-ricerca input{
  float: right;
	width: calc(85% - 7px);
	height: 36px;
	margin: 7px 7px 7px 0;
	padding: 0 10px;
	border-left: 0;
	border-top: 1px solid #F5F5F5;
	border-right: 1px solid #F5F5F5;
	border-bottom: 1px solid #F5F5F5;
	border-radius: 0px 3px 3px 0;
	color: #B6B9BB;
}

/*Parte destra*/

.dx {
  float: left;
	height: 100%;
  width: 65%;
}
